html,body,#root{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
}
.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  position:relative;
}
.inner{
  flex:1;
  max-width: 45%;
  padding: 1.5em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;

}
.successBox{
  color : lawngreen;
  padding: 1em;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.goTo{
  margin-top: 1em;
  font-size: 13px;
}
.successReg{
  padding: 1em;
  font-size: 18px;
  font-weight: 600;
  color:#ffffff;
  background-color: #4CAF50;
}
@media only screen and (max-width:800px){
  .inner{
    max-width:60%;
  }
}
@media only screen and (max-width:600px){
  .inner{
    max-width:90%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
